$color-silver-dark: #666665;
$color-white: #fff;
$color-silver: #faf9f9;
$color-bright-sun: #fed23f;
$color-bright-sun-text: #f9d03f;
$color-bright-sun-text-2: #f7d96d;
$color-dove-gray: #6b6868;
$color-tuatara: #31312f;
$color-papmps: #f0ede6;
